# Required connection configs for Kafka producer, consumer, and admin
# bootstrap server - do not include the protocol e.g. pkc-2396y.us-east-1.aws.confluent.cloud:8443
bootstrap.servers=pkc-921jm.us-east-2.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
# username for kafka
sasl.username=4WPGCDQN3C2RUTJZ
# password for kafka
sasl.password=9qT9MohsVRIlL/rpwrH4HixaYz5QGB0Wo8RORd6bvloOvg08f/+IXE7e6b2gOlEf
compression.type=lz4
batch.size=10000
request.timeout.ms=120000
queue.buffering.max.messages=200000
